body {
  background-color: #e3e4e7;
  padding: 50px 100px;
  font-family: 'Roboto', sans-serif;
}

nav {
  height: 40px;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.15);
  /*border-bottom: 1px solid rgb(52, 49, 46);*/
}

nav a {
  text-decoration: none;
  position: relative;
  top: 10px;
  left: 30px;
  color: rgb(24, 66, 231);
}

nav a:hover {
  text-decoration: underline;
}

h1 {
  margin-top: 90px;
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 40px;
}
.border h2 .margin h2 .padding h2 .conclusion h2 {
  margin-top: 60px;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

p {
  margin-top: 20px;
  margin-bottom: 30px;
  line-height: 26px;
}
img {
  width: 1000px;
}

/* Tablet View */
@media (max-width: 768px) {
  body {
    padding: 50px;
  }
  img {
    width: 90%;
  }
  div {
    width: 100%;
  }

  nav a {
    display: flex;
    align-self: start;
  }
}

/* Portait Tablet View */
@media (max-width: 580px) {
  div {
    width: 100%;
  }

  img {
    width: 90%;
  }

  nav a {
    display: flex;
    align-self: start;
  }
}

/* Mobile View */
@media (max-width: 400px) {
  body {
    padding: 20px;
  }

  div {
    width: 100%;
  }

  img {
    width: 90%;
  }

  nav a {
    display: flex;
    align-self: start;
  }
}
