/* --- Common components --- */

body {
  font-family: 'Roboto', sans-serif;
  background-color: #e3e4e7;
  padding: 50px 100px;
}

.header {
  width: 100%;
  padding: 20px 0;
  margin-left: 40px;
  background-color: rgba(0, 0, 0, 0.05);
  position: fixed;
  top: 0;
  right: 0;
}

.header a {
  text-decoration: none;
  position: relative;
  left: 30px;
  color: rgb(24, 66, 231);
}

.header a:hover {
  text-decoration: underline;
}

h1 {
  padding-top: 30px;
  text-align: center;
}

p {
  line-height: 26px;
}

.centre {
  text-align: center;
}

.footer {
  margin-top: 100px;
  margin-bottom: 60px;
}

a {
  color: #333341;
  font-weight: bolder;
}

li {
  list-style: none;
  margin-left: -40px;
}

/* --- Homepage --- */

.intro {
  text-align: left;
}

.subtitle {
  font-family: 'Roboto Mono', monospace;
  margin-left: 20px;
}
.header h1,
.subtitle {
  display: inline;
  margin-left: 40px;
}

.welcome {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

img {
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.15);
}

div img {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  box-sizing: border-box;
}

.date {
  color: #333341;
  opacity: 0.5;
}

/* --- Tech --- */

.tech,
.core {
  margin-top: 80px;
}

.tech,
.core,
.footer {
  margin-left: 160px;
}
.tech,
h2 {
  margin-top: 70px;
}

.tech h4 {
  margin-bottom: 16px;
  font-family: 'Roboto Mono', monospace;
}

.tech h2,
.tech h4 {
  display: inline;
  padding-right: 10px;
}
.tech p,
.core p {
  margin-top: 16px;
  margin-bottom: 4px;
}

.core h4 {
  font-family: 'Roboto Mono', monospace;
}
.core h2,
.core h4 {
  display: inline;
  padding-right: 10px;
}

/* --- Core --- */

.signature-strengths {
  width: 80%;
  margin: 60px auto;
}

.signature-strengths h1,
.signature-strengths ul {
  text-align: center;
  list-style-type: none;
}
div img {
  margin-top: 40px;
}

/* --- Responsiveness --- */

/* for tablet and phone */
@media (max-width: 768px) {
  .subtitle {
    display: none;
  }

  .tech,
  .core,
  .footer {
    margin-left: 60px;
    padding-right: 60px;
  }

  body {
    padding: 20px;
  }

  div {
    width: 100%;
  }

  img {
    width: 100%;
  }

  p.centre {
    text-align: left;
  }

  .header a {
    display: flex;
    align-self: start;
  }

  /* .footer a {
    margin-left: 60px;
  } */
}
